server {
    error_log /var/log/nginx/myserve.log debug;

    listen 3000 ssl;
    listen 3001 ssl;
    listen 3002 ssl;
    listen 3003 ssl;
    listen 3004 ssl;
    listen 3005 ssl;
    listen 3006 ssl;
    listen 3007 ssl;
    listen 3008 ssl;
    listen 3009 ssl;
    listen 3010 ssl;
    listen 3011 ssl;
    listen 3012 ssl;
    listen 3013 ssl;
    listen 3014 ssl;
    listen 3015 ssl;
    listen 3016 ssl;
    listen 3017 ssl;
    listen 3018 ssl;
    listen 3019 ssl;
    listen 3020 ssl;
    listen 3021 ssl;
    listen 3022 ssl;
    listen 3023 ssl;
    listen 3024 ssl;
    listen 3025 ssl;
    listen 3026 ssl;
    listen 3027 ssl;
    listen 3028 ssl;
    listen 3029 ssl;
    listen 3030 ssl;
    listen 3031 ssl;
    listen 3032 ssl;
    listen 3033 ssl;
    listen 3034 ssl;
    listen 3035 ssl;
    listen 3036 ssl;
    listen 3037 ssl;
    listen 3038 ssl;
    listen 3039 ssl;
    listen 3040 ssl;
    listen 3041 ssl;
    listen 3042 ssl;
    listen 3043 ssl;
    listen 3044 ssl;
    listen 3045 ssl;
    listen 3046 ssl;
    listen 3047 ssl;
    listen 3048 ssl;
    listen 3049 ssl;
    listen 3050 ssl;
    listen 3051 ssl;
    listen 3052 ssl;
    listen 3053 ssl;
    listen 3054 ssl;
    listen 3055 ssl;
    listen 3056 ssl;
    listen 3057 ssl;
    listen 3058 ssl;
    listen 3059 ssl;
    listen 3060 ssl;
    listen 3061 ssl;
    listen 3062 ssl;
    listen 3063 ssl;
    listen 3064 ssl;
    listen 3065 ssl;
    listen 3066 ssl;
    listen 3067 ssl;
    listen 3068 ssl;
    listen 3069 ssl;
    listen 3070 ssl;
    listen 3071 ssl;
    listen 3072 ssl;
    listen 3073 ssl;
    listen 3074 ssl;
    listen 3075 ssl;
    listen 3076 ssl;
    listen 3077 ssl;
    listen 3078 ssl;
    listen 3079 ssl;
    listen 3080 ssl;
    listen 3081 ssl;
    listen 3082 ssl;
    listen 3083 ssl;
    listen 3084 ssl;
    listen 3085 ssl;
    listen 3086 ssl;
    listen 3087 ssl;
    listen 3088 ssl;
    listen 3089 ssl;
    listen 3090 ssl;
    listen 3091 ssl;
    listen 3092 ssl;
    listen 3093 ssl;
    listen 3094 ssl;
    listen 3095 ssl;
    listen 3096 ssl;
    listen 3097 ssl;
    listen 3098 ssl;
    listen 3099 ssl;
    listen 3100 ssl;
    
    listen 8000 ssl;
    listen 8001 ssl;
    listen 8002 ssl;
    listen 8003 ssl;
    listen 8004 ssl;
    listen 8005 ssl;
    listen 8006 ssl;
    listen 8007 ssl;
    listen 8008 ssl;
    listen 8009 ssl;
    listen 8010 ssl;
    listen 8011 ssl;
    listen 8012 ssl;
    listen 8013 ssl;
    listen 8014 ssl;
    listen 8015 ssl;
    listen 8016 ssl;
    listen 8017 ssl;
    listen 8018 ssl;
    listen 8019 ssl;
    listen 8020 ssl;
    listen 8021 ssl;
    listen 8022 ssl;
    listen 8023 ssl;
    listen 8024 ssl;
    listen 8025 ssl;
    listen 8026 ssl;
    listen 8027 ssl;
    listen 8028 ssl;
    listen 8029 ssl;
    listen 8030 ssl;
    listen 8031 ssl;
    listen 8032 ssl;
    listen 8033 ssl;
    listen 8034 ssl;
    listen 8035 ssl;
    listen 8036 ssl;
    listen 8037 ssl;
    listen 8038 ssl;
    listen 8039 ssl;
    listen 8040 ssl;
    listen 8041 ssl;
    listen 8042 ssl;
    listen 8043 ssl;
    listen 8044 ssl;
    listen 8045 ssl;
    listen 8046 ssl;
    listen 8047 ssl;
    listen 8048 ssl;
    listen 8049 ssl;
    listen 8050 ssl;
    listen 8051 ssl;
    listen 8052 ssl;
    listen 8053 ssl;
    listen 8054 ssl;
    listen 8055 ssl;
    listen 8056 ssl;
    listen 8057 ssl;
    listen 8058 ssl;
    listen 8059 ssl;
    listen 8060 ssl;
    listen 8061 ssl;
    listen 8062 ssl;
    listen 8063 ssl;
    listen 8064 ssl;
    listen 8065 ssl;
    listen 8066 ssl;
    listen 8067 ssl;
    listen 8068 ssl;
    listen 8069 ssl;
    listen 8070 ssl;
    listen 8071 ssl;
    listen 8072 ssl;
    listen 8073 ssl;
    listen 8074 ssl;
    listen 8075 ssl;
    listen 8076 ssl;
    listen 8077 ssl;
    listen 8078 ssl;
    listen 8079 ssl;
    listen 8080 ssl;
    listen 8081 ssl;
    listen 8082 ssl;
    listen 8083 ssl;
    listen 8084 ssl;
    listen 8085 ssl;
    listen 8086 ssl;
    listen 8087 ssl;
    listen 8088 ssl;
    listen 8089 ssl;
    listen 8090 ssl;
    listen 8091 ssl;
    listen 8092 ssl;
    listen 8093 ssl;
    listen 8094 ssl;
    listen 8095 ssl;
    listen 8096 ssl;
    listen 8097 ssl;
    listen 8098 ssl;
    listen 8099 ssl;
    listen 8100 ssl;

    ssl on;
    ssl_certificate certs/cowboy.io.pem;
    ssl_certificate_key certs/cowboy.io.key;

    location / {
        proxy_pass http://{hostip}:$server_port;
    }
}

